$bg-color: black;
$color: white;
.container {
  display: flex;
  box-sizing: border-box;
  background-color: $bg-color;
  color: $color;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
